@import "./base.css";

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: inherit;
}

*::-webkit-scrollbar-thumb {
  border-radius: inherit;
  background-color: rgb(255, 27, 27);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(200, 27, 27);
}
.v-row {
  margin: unset;
}
.v-slide-group__content {
  column-gap: 16px;
}
#banners-list .v-btn--active .v-btn__content {
  color: red;
}
#banners-list .v-btn--active .v-btn__overlay {
  background: none;
}
#home-nav {
  width: 79px !important;
}
#home-nav .v-list {
  padding: 47px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6px;
  width: 100%;
}
#home-nav .v-navigation-drawer__content {
  overflow: hidden;
}
#home-nav .item-badge .v-list-item__content {
  overflow: visible;
}
#home-nav .v-list-item {
  display: flex;
  justify-content: center;
  width: 47px;
  height: 47px;
  padding: 0;
  margin-bottom: 12px;
}
#home-nav .v-list-item--active .v-list-item__content {
  color: #ec1c24;
}
#home-nav .v-list-item--active .v-list-item__overlay {
  border-radius: 10px;
  opacity: 1;
  box-shadow: 0 4px 16px rgba(236, 28, 36, 0.25);
  background-color: #ffffff;
  z-index: -1;
}
#filters .filter-item-body .v-list-item {
  padding: 0;
  min-height: unset;
}
.icon-size-14 .mdi {
  font-size: 14px;
}
.shop-profile__avatar .v-avatar {
  border: 2px solid #ffffff;
}

.slide-group .v-slide-group__container {
  padding: 16px;
}
.no-padding .v-slide-group__container {
  padding: 0;
}

#product .slide-group .v-slide-group__container {
  padding: 0;
}

footer {
  z-index: 1005;
}
.filter-item__list__item:hover .v-label {
  color: #ec1c24;
}
.filter-item__list__item .v-label {
  opacity: 1 !important;
  font-size: 14px;
  overflow: hidden;
}
.filter-item__list__item .mdi-checkbox-blank-outline {
  color: #ec1c24;
  opacity: 1;
}
.custom-carousel .carousel__viewport {
  padding: 16px 0;
}
.custom-carousel .carousel__icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
}
.custom-carousel .carousel__icon:hover {
  background: #ec1c24;
  color: #ffffff;
}
.custom-carousel .carousel__track {
  column-gap: 14px;
}
.custom-carousel .carousel__slide {
  flex-shrink: unset;
}
.v-col-custom-padding {
  padding: 0;
}
.v-col-custom-padding:first-child {
  padding-right: 24px;
}
